@model CSharp_FinalExam.ViewModel.DynamicTableViewModel

@{
    Layout = null;
}

<style>
    .custom-truncate {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        max-width: 240px;
    }

    .custom-scrollbar::-webkit-scrollbar {
        height: 10px;
    }

    .custom-scrollbar::-webkit-scrollbar-track {
        background: #f1f1f1;
    }

    .custom-scrollbar::-webkit-scrollbar-thumb {
        background: #888;
        border-radius: 5px;
        border: 1px solid #555;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    }

    .custom-scrollbar::-webkit-scrollbar-thumb:hover {
        background: #555;
    }
</style>

<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

<script>
    let deleteId;
    
    window.onload = function() {
        const deleteButtons = Array.from(document.getElementsByClassName('deleteChoice'));

        deleteButtons.forEach(button => {
            button.addEventListener('click', function(e) {
                deleteId = button.getAttribute('data-id');
                const dialog = document.getElementById('deleteBlock');
                dialog.classList.remove('hidden');
                dialog.classList.add('block');
            });
        });

        document.getElementById('cancelDelete').addEventListener('click', function() {
            const dialog = document.getElementById('deleteBlock');
            dialog.classList.remove('block');
            dialog.classList.add('hidden');
        });

        document.getElementById('confirmDelete').addEventListener('click', function() {
            axios.delete(`https://localhost:7019/@Model.Controller/@Model.DeleteAction/${deleteId}`)
                .then(function (response) {
                    window.location.href = `/@Model.Controller/Index`; 
                })
                .catch(function (error) {
                    console.log(error);
                });
        });
    }

</script>

<script src="https://cdn.tailwindcss.com"></script>
<div id="deleteBlock" class="fixed top-0 left-0 w-full h-full z-20 bg-gray-100 bg-opacity-50 hidden">
    <div class="w-1/5 h-1/5 mt-72 mx-auto bg-gradient-to-r from-[#9fccfa] to-[#60efff] rounded-lg">
        <div class="">
            <div class="text-center font-bold text-white text-2xl p-[16px]">Xác nhận xoá?</div>
            <div class="flex justify-between mx-8 mt-3">
                <button id="confirmDelete" class="py-2 px-6 bg-[#70e000] text-white font-bold rounded-lg shadow">Có</button>
                <button id="cancelDelete" class="py-2 px-6 bg-[#ff686b] text-white font-bold rounded-lg shadow">Không</button>
            </div>
        </div>
    </div>
</div>

<div class="mt-4 overflow-x-auto custom-scrollbar">
    <table class="table-auto w-full mt-4">
        <thead>
        <tr>
            @foreach (var property in Model.Properties)
            {
                <th class="px-4 py-2 overflow-hidden text-ellipsis whitespace-nowrap">@property</th>
            }
            <th class="px-4 py-2 overflow-hidden text-ellipsis whitespace-nowrap">Tuỳ chọn</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var item in Model.Items)
        {
            <tr>
                @foreach (var property in Model.Properties)
                {
                    <td class="border px-4 py-2 custom-truncate">@item.GetType().GetProperty(property).GetValue(item, null)</td>
                }
                <td class="border px-4 py-2 flex items-center justify-center gap-2">
                    <a asp-controller="@Model.Controller" asp-action="@Model.UpdateAction" asp-route-id="@item.GetType().GetProperty("Id").GetValue(item, null)" class="block bg-[#f4a261] p-2 text-white rounded-lg">Sửa</a>
                    <button data-id="@item.GetType().GetProperty("Id").GetValue(item, null)" class="deleteChoice block bg-[#ce4257] p-2 text-white rounded-lg">Xoá</button>
                    <a asp-controller="@Model.Controller" asp-action="@Model.DetailAction" asp-route-id="@item.GetType().GetProperty("Id").GetValue(item, null)" class="block bg-[#80ed99] py-2 px-2 text-nowrap text-white rounded-lg">Chi tiết</a>
                </td>
            </tr>
        }
        </tbody>
    </table>
</div>