@model GiaoVien

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="fixed top-0 ml-[174px] mt-[140px] w-full">
    <div class="">
        <h1>Thông tin giáo viên</h1>
        <p>
            <strong>Họ tên:</strong> @Model.HoTen
        </p>
        <p>
            <strong>Ngày sinh:</strong> @Model.NgaySinh.ToString("dd/MM/yyyy")
        </p>
        <p>
            <strong>Số điện thoại:</strong> @Model.SoDienThoai
        </p>
        <p>
            <strong>Email:</strong> @Model.Email
        </p>
        <p>
            <strong>Địa chỉ:</strong> @Model.DiaChi
        </p>
        <p>
            <strong>Giới tính:</strong> @Model.GioiTinh
        </p>
        <p>
            <strong>Khoa:</strong> @Model.KhoaId
        </p>
    </div>
    <a asp-controller="QuanLyGiaoVien" asp-action="Index" class="block w-[8%] text-nowrap mt-2 py-3 px-10 outline-none bg-[#fcbf49] rounded-lg text-white shadow font-bold">Trở lại</a>

</div>